---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV | Iván Ciudad Espinar">
  <main class="w-full">
    <embed
      src="/CV_IvanCiudadEspinar.pdf"
      type="application/pdf"
      class="w-full h-full"
    />
  </main>
</Layout>
