@import "tailwindcss";

@theme {
  --breakpoint-mobile: 0px;
  --breakpoint-smallTablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-bigDesktop: 1536px;
}