@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-onest: "Onest", "sans-serif";
    --font-source-code: "Source Code Pro", "monospace";
  }
}

html {
  background-color: #0f172a !important;
}