@import "tailwindcss";

@theme {
  --breakpoint-mobile: 0px;
  --breakpoint-small-tablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-big-desktop: 1536px;
}

@layer base {
  :root {
    --font-onest: "Onest", "sans-serif";
    --font-source-code: "Source Code Pro", "monospace";
  }
}

html {
  background-color: #0f172a !important;
}