@import "tailwindcss";

@theme {
  --breakpoint-mobile: 0px;
  --breakpoint-smallTablet: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-desktop: 1280px;
  --breakpoint-bigDesktop: 1536px;
}

html {
  background-color: #0f172a !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.15s;
}