---
import { seoMapper } from "../helpers/seo.helper";
import { useTranslations } from "../i18n/utils";
import Layout from "../layouts/Layout.astro";
import ScrollReveal from "../components/ScrollReveal";
import AboutMe from "../components/AboutMe.astro";

const lang = Astro.currentLocale;
const t = useTranslations(lang);
const pageData = t("about_page") as {
  title: string;
  description: string;
  url: string;
  image_url: string;
  image_alt: string;
};
const title = pageData.title;
const description = pageData.description;
const url = pageData.url;
const image = pageData.image_url;

const infoSeo = seoMapper(title, description, url, image, pageData.image_alt);
---

<Layout infoSeo={infoSeo}>
  <main class="w-full max-w-7xl mx-auto px-6 py-12 flex flex-col gap-12">
    <ScrollReveal client:visible>
      <AboutMe />
    </ScrollReveal>
  </main>
</Layout>
