---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio | Iv치n Ciudad Espinar">
  <main class="flex flex-col items-center w-full">
    <section
      class="flex flex-col laptop:flex-row justify-start items-center laptop:items-start laptop:justify-center w-full gap-8"
    >
      <img src="fotoivan.png" class="h-[182px] es m-1 aspect-[92/71.33]" />
      <h1
        class="text-2xl tablet:text-3xl laptop:text-5xl max-w-[400px] tablet:max-w-[500px] laptop:max-w-[800px] font-medium"
      >
        Soy <span>Iv치n Ciudad Espinar</span>
        desarrollador
        <span>FullStack</span> e <span>Ingeniero Telem치tico</span>. <br /> Bienvenido
        a mi rinc칩n de internet.
      </h1>
    </section>
  </main>
</Layout>
<style>
  span {
    font-weight: 800;
    color: #22d3ee;
  }
</style>
