---
import { seoMapper } from "../helpers/seo.helper";
import Layout from "../layouts/Layout.astro";

const title = "Iván Ciudad Espinar - Sobre mi";
const description = "Aquí encontrarás información sobre mi vida, mis gustos y mis hobbies. Descubre quién soy, de dónde vengo y mis pasiones por los videojuegos, las películas y las series.";
const url = "https://www.ivanciudad.com/sobremi";
const image = "https://www.ivanciudad.com/sobremi.webp";

const infoSeo = seoMapper(title, description, url, image);
---

<Layout infoSeo={infoSeo}>
  <p>te voy a contar mi vida</p>
</Layout>
