---
import "@fontsource-variable/onest";
import "@fontsource-variable/source-code-pro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Esta es mi web de Iván Ciudad Espinar. Desarrollador de software e ingeniero."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta
      property="og:image"
      content="https://ivanciudad.vercel.app/logoivan.png"
    />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"
  >
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
    <Header />
    <div
      class="flex
        justify-center
        max-w-screen-tablet
        px-4
        py-10
        tablet:px-8
        tablet:max-w-screen-laptop
        laptop:px-16
        desktop:max-w-screen-desktop
        bigDesktop:max-w-screen-bigDesktop
        layout-height w-full"
    >
      <slot />
    </div>
    <Footer />
    <style is:global>
      :root {
        color-scheme: light dark;
      }
      html {
        font-family: "Onest Variable", system-ui, sans-serif;
      }
      body {
        width: 100%;
        scrollbar-width: none;
        display: flex;
        align-items: center;
        background-color: #0f172a;
        color: white;
      }
      body::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
      }
      p {
        font-family: "Source Code Pro Variable";
      }
      .layout-height {
        min-height: calc(100vh - (92px + 124px));
      }
    </style>
  </body>
</html>
