---
import { seoMapper } from "../../helpers/seo.helper";
import Layout from "../../layouts/Layout.astro";

const title = "Iv치n Ciudad Espinar - Proyectos de Desarrollo Frontend";
const description = "Explora los proyectos de Iv치n Ciudad Espinar, desarrollador Frontend e Ingeniero Telem치tico. Descubre mis trabajos en desarrollo de software, aplicaciones web y m치s.";
const url = "https://www.ivanciudad.com/proyectos";
const image = "https://www.ivanciudad.com/programacion.webp";

const infoSeo = seoMapper(title, description, url, image);
---

<Layout infoSeo={infoSeo}>
  <p>estos son los proyectos</p>
</Layout>
