---
import Layout from "../../layouts/Layout.astro";
const path = Astro.url.pathname;
const slugs = path.split("/");
const proyecto = slugs[slugs.length - 1];
---

<Layout title="Proyectos | Iván Ciudad Espinar">
  <p>Proyecto: {proyecto}</p>
</Layout>
